*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-1{
    background-color:#e9edc9;
}

.mt-50{
    margin-top: 50px;
}
.col-18{
    margin-top: 20px;
}
.col-12{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
.botmar{
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .card {
      width: 100%;
      margin-top: 20px;
    }
    .btn {
      font-size: 14px;
    }
    label {
      font-size: 14px;
    }
  }